/*header*/
nav{height: 79px;}
.logo{padding-top: 3px;}
.menu{padding-right: 27px;padding-top: 3px;}

.btn-menu span{padding: 5px 0 0;box-sizing: content-box;position: relative;background-color: transparent;margin-top: 0;transition:all ease .2s;}
.btn-menu span:after{content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 5px;background-color: #af8655;}
.btn-menu span.first{padding-top: 0;}

.hidden-menu-ticker:checked ~ .btn-menu span.third{top: -8px;left: -2px;}
.hidden-menu-ticker:checked ~ .btn-menu span.first{top: 11px;}

.hidden-menu{top: 79px;}
/*main*/

/*page1*/
.page1{height: 1080px;}
.wrap_sce1_1{height: 517px;}
.btn-group{margin: 25px auto;}

/*page2*/
.page2_1{margin: 182px auto 102px;}
.page2 .wrap_icon{width: 61%;margin: 138px auto;}
.page2_icon1 p, .page2_icon2 p, .page2_icon3 p{font-family: 'GothamProLight';font-size: 18px;color: #212121;padding-top: 10px;}

/*page3*/
.page3 .carousel-caption img{max-width: 375px;}

/*page4*/
.page4 .wrap_icon{max-width: 1000px;}